.container {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

.center {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}


.header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    margin-top: 50px;
}

.header_head {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 34px;
    opacity: 0.7;
    padding-top: 20px;
    margin-bottom: 10px;
}

.header_p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #61AEAE;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 70px;

}



.nav_button {
    display: flex;
    align-items: baseline;    
}


.nav_tabs_contact{
    width: 20px;
    height: 7px;
    background-color:#0299CC;
    margin-right: 20px;
}

.nav_text_contact {
    color: #0299CC;
}

a {
    text-decoration: none;
}

a:hover .nav_text {color:#0299CC ;} 
a:hover .nav_tabs {background-color: #0299CC;}

.nav_tabs {
    width: 20px;
    height: 7px;
    background-color: #82848a;
    margin-right: 20px;
}

.nav_text {
    color: #82848a;
}

.nav {
    padding-left: 40px;
}

.card_container_position {
    position: relative;
}

.card_container{
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 20px;

}


.card_text_background {
    /* min-height: 200px; */
    max-width: 100%;
    height:auto;
    position: relative;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('contact.jpg');
    min-width:320px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    padding: 0px;
    background-size: cover;
} 

.card_container_text {
    color: white;
    z-index: 1;
    line-height: 1.7;
    font-size: 90%;
    padding: 15px 50px 50px 50px;
    
}

.card_container_text_header {
    font-size: 27px;
    font-weight: 400;
}

.card_container_form {
    margin-left: 50px;
    width: 75%;
}

.form_name {
    margin-top: 60px;
    width: 80%;
    height: 30px;
    border: none;
    border-bottom:1px solid #CED4DA;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    outline: none;
}

.form_email {
    margin-top: 30px;
    width: 80%;
    height: 30px;
    border: none;
    border-bottom:1px solid #CED4DA;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;

}

.form_textarea {
    margin-top: 30px;
    width: 80%;
    height: 150px;
    border: none;
    border-bottom:1px solid #CED4DA;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 15px;
    outline: none;
}

.form_submit_button {
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: #8D8DE7;
    color: white;
    width: 120px;
    height: 45px;
    border: none;
    font-size: 15px;
    position: relative;
    margin-left: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    color: #b2b6be;
    margin-bottom: 50px;
    font-size: 15px;
} 

::placeholder {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
    padding-bottom: 5px;
}

input:focus {
    border:3px solid #9fcdff;
}

textarea:focus{
    border: 3px solid #9fcdff;
}

input[type=submit]:hover {
    background-color: #9A9AFC;
}


@media screen and (min-width:945px) {
    .nav{
        margin-left: 20px;
        position: absolute;
        top: 46px;
        right: -118px;
    }
    
}